
body{
    padding:  3%;
    font-family:  papyrus;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 14%, rgba(239,247,2,1) 18%, rgba(0,0,0,1) 24%, rgba(239,247,2,1) 30%, rgba(0,0,0,1) 34%, rgba(239,247,2,1) 38%, rgba(0,128,47,1) 64%, rgba(111,10,199,1) 79%);

    ;}

#title{
      font-size: 400%;
}
a{
    text-decoration: none;
    color: black;
}
#hive{
    border-radius: 30px;
      font-size: 250%;
      border:  outset 9px rgb(157,119,41);
      width:  100%;


}
#hive:hover{
    background: white;
}
#hiveabi{
    font-size: 200%;
    color:  rgb(0,0,0);
}
#lihive{
    border-radius:  12px;
    display:  block;
    background: rgb(255,255,255);
    padding: 3px;
    border: outset 2px rgb(0,0,0);
    width: 110px;
}
#lihive:hover{
    background:  rgba(239,247,2,0.5);
}
#leaf{
    border-radius: 30px;
      font-size: 250%;
      color:  rgb(0,0,0);
      border:  outset 9px rgb(185,41,0);
      width:  100%;
}
#leaf:hover{
    background: white;
}
#leafabi{
    font-size: 200%;
    color:  rgb(0,0,0);
}
#lileaf{
    border-radius:  12px;
    display:  block;
    background: rgb(255,255,255);
    padding: 3px;
    border: outset 2px rgb(0,0,0);
    width: 105px;
}
#lileaf:hover{
    background: rgba(0,128,47,0.4);
}	
#silk{
    border-radius: 30px;
      font-size: 250%;
      color:  rgb(0,0,0);
      border:  outset 9px rgb(25,119,10);
      width:  100%;
}
#silk:hover{
    background: white;
}
#silkabi{
    font-size: 200%;
    color:  rgb(0,0,0);
}
#lisilk{
    border-radius:  12px;
    background: rgb(255,255,255);
    color: rgb(255,255,255);
    padding: 3px;
    border: outset 2px rgb(0,0,0);
    width: 105px;
}
#lisilk:hover{
    background:  rgba(111,10,199,0.5);
}	

